<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDocumentStore" connectionString="Url = http://localhost:8080;Database=AspNetProviders" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="RavenMembershipProvider">
      <providers>
        <add name="RavenMembershipProvider"
             type="Raven.Client.AspNetProviders.RavenMembershipProvider, Raven.Client.AspNetProviders"
             connectionStringName="TestDocumentStore"
             applicationName="RavenMembershipProviderTests"
             />
      </providers>
    </membership>
  </system.web>
</configuration>